# Python
__pycache__/
*.py[codz]
*.egg-info/

# Environments
.env
.venv

# Tools & caches
.ruff_cache/
.pytest_cache/
uv.lock

# OS
.DS_Store

# Project-specific
upload_to_garmin.sh

# Editors
.idea/
.vscode/
